GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REPO_OWNER=Dutch-voyage
GITHUB_REPO_NAME=Hyblog
GITHUB_BASE_BRANCH=main
GITHUB_CALLBACK_URL=http://127.0.0.1:4321/api/auth/github/callback
SESSION_SECRET=replace-with-at-least-32-random-characters
